body{
    width: 50%;
    margin: auto;
}

table, th, td {
    border-collapse: collapse;
}
td{
    border: 0px solid black;
    
    width: 30px;
    height: 30px;
}

.black{
    background-color: black;
}
.mrn{
    background-color: #3d2d1c;
}

.zzz{
    background-color: #574330fa;
}
.pink{
    background-color: #f1ab71;
}
table, th, td {
    border-collapse: collapse;
}