.boite{
    background-color: purple;
}
.boite2{
    background-color: yellowgreen;
}


.boite{
    height: 11vh;
    width: 12vh;
    padding: 5vh;
    border: 2px solid black;
    background-repeat: no-repeat;
    border-radius: 25%;
    margin: 3px ;
    float: left;
    transition: margine0 5s;
}
.boite2{
    height: 11vh;
    width: 12vh;
    padding: 5vh;
    border: 2px solid black;
    background-repeat: no-repeat;
    border-radius: 25%;
    margin: 3px;
    float: left;
    transition: margine0 5s;
}
.clear{
    clear: both;
}