@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

#BOSS{
    background: #273978;
    width: 50%;
    font-family: "Shadow into light", cursive;
    margin: 2vh auto;
    color: #fff;
    height: 770px;
}
h1{
    text-align: center;
}
.All{
display: flex;
justify-content: space-around;
}
figcaption{
    text-align: center;
}
